<html>
    
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width initial-scale=1.0'>

        <title>GT Train</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='../static/style/main.min.css'>
        <link rel="shortcut icon" href="../static/assets/favicon.ico">
    </head>

    <body>
        <h1>GT Train</h1>
        <div id='root'></div>
    </body>
    <script src='../static/js/bundle.js'></script>

</html>