//Palette using variables
$pure-white: #FFFFFF;
$pure-grey: #828282;
$dark-grey: #616161;
$platinum: #E5E4E2;
$soft-orange: #FDD285;
$caramel: darken(#FFE082, 20%);
$soft-cyan: #80E5E9;
$teal-blue: #002C6A;