#search-sche-b,
#travel-extras,
#cancel-resv,
#registration {
    .content {
        margin-top: 2em;
    }
    .buttons {
        margin-top: 1em;
    }
}
.menu {
    .content {
        margin-top: 2em;
        a {
            @include font;
            @include link($soft-cyan);
            text-decoration: none;
            margin-top: 1.5em;
        }
        #btn {
            margin-top: 2em;
            a {
                color: $pure-white;
            }
        }
    }
}
#school-info {
    .content {
        margin-top: 6em;
        span {
            @include font;
            width: 15em;
            margin: 0.5em 0 2em;
        }
        > span {
            width: 25em;
        }
    }
}
#payment-info {
    > div {
        @include center;
        margin-top: 3em;
        h3 {
            @include font(20px);
            text-align: center;
            color: $soft-cyan;
            margin-bottom: 1.5em;
        }
    }
    #payment-add,
    #payment-delete {
        height: 20em;
    }
    #payment-add > .buttonlink {
        margin-left: 20em;
    }
    #payment-delete {
        span,
        .dropdown {
            @include font(15px);
        }
        .dropdown {
            width: 20em;
        }
    }
    #vertical-line {
        height: 15em;
        margin: 0 2.5em;
        border-left: 1px solid $platinum;
    }
}
#confirmation {
    .content {
        @include font;
        margin-top: 3em;
        div,
        span {
            margin: 2em;
        }
    }
}
#login,
#search-sche-a,
#search-resv-a,
#search-resv-b,
#search-review {
    .content {
        margin-top: 6em;
        .buttons {
            margin-top: 3em;
        }
    }
}
.msg {
    @include font;
    margin-top: 1em;
}
.msg-sm {
    @include font(12px);
    margin-top: 0.5em;
}
#travel-extras {
    @include font;
    span,
    i {
        margin: 1em;
    }
    .buttons {
        margin-top: 0;
    }
}
#write-review {
    .content {
        margin-top: 3.75em;
    }
    .buttons {
        margin-top: 1.5em;
    }
}
#notfound {
    @include center;
    img {
        width: 32em;
        height: 32em;
    }
}
#review-table {
    @include font(22px);
    text-align: center;
    h1 {
        margin-bottom: 3.5em;
    }
    div {
        margin: 1.5em 0;
    }
    span {
        display: inline-block;
    }
    .ratings {
        width: 12em;
    }
    .comments {
        width: 20em;
    }
}
.col-names {
    color: $soft-cyan;
}
.buttons-b {
    margin-top: 2em;
}
#sches-table {
    @include font(20px);
    text-align: center;
    h1 {
        margin-bottom: 3em;
    }
    div {
        margin: 1em 0;
    }
    span {
        display: inline-block;
    }
    .sche-cols {
        width: 12.5em;
    }
}
#dep-table {
    @include font(20px);
    margin-top: 3em;
    text-align: center;
    vertical-align: middle;
    div {
        margin: 1em 0;
    }
    span {
        display: inline-block;
    }
    input {
        margin-right: 1em;
    }
    span.dep-col-lg {
        width: 12em;
        height: 2em;
    }
    .dep-col {
        width: 10em;
    }
}
.cancel-info {
    @include font;
    > span {
        display: block;
        margin: 1em 0;
    }
}
#resvs-table {
    @include font(12px);
    text-align: center;
    div {
        margin-bottom: 2.5em;
    }
    span {
        display: inline-block;
    }
    .resv-col-short {
        width: 5em;
    }
    .resv-col {
        width: 10em;
    }
    .resv-col-long {
        width: 17.5em;
    }
    .resv-col-hidden {
        display: none;
    }
    .resv-row {
        @include center;
    }
}
#select-resv,
#update-resv {
    @include font(12px);
    text-align: center;
    .content > div {
        margin-top: 1.5em;
        > span {
            margin: 0 2em;
        }
    }
    .flex {
        @include center;
    }
    a {
        @include link($soft-orange);
        text-decoration: none;
        margin-left: 2em;
    }
    h5 {
        @include font(13px);
        margin-bottom: 1em;
    }
}
#make-resv {
    @include font(16px);
    > div {
        margin-top: 1.25em;
        .link,
        a {
            @include link($soft-cyan);
            text-decoration: none;
        }
        > span {
            margin-left: 2.5em;
        }
    }
    .dropdown {
        margin-left: 1em;
        > div {
            width: 80%;
        }
    }
    .buttons {
        @include center;
        margin-top: 1em;
    }
    .msg {
        margin-left: 16em;
    }
    .sm {
        display: inline-block;
        font-size: 13px;
        margin: 1em 0 0 3em;
    }
}
#popular-routes,
#revenue {
    @include font;
    .content {
        margin: 3em 0;
        div {
            margin-bottom: 2em;
        }
        span {
            margin: 1em;
        }
    }
}